<app-main-page></app-main-page>

<!-- <h1>Hola gente</h1> -->
<!-- <app-contador></app-contador> -->
<!-- <app-heroe></app-heroe> -->
<br>

<!-- <app-listado></app-listado> -->
<!-- title de app.component.ts -->










<!-- CALSE 1 -->

<!-- <hr>

<h2>{{title}}</h2>

<br>

<button (click) = 'numero = numero -1 ;' > - 1 </button>

<span> {{numero}}</span>

<button (click) = 'numero = numero +1' >  + 1 </button> -->


                            <!--  CLASE 2 -->

<!-- <button (click) = 'SumaYresta(-base)' > - {{base}} </button>

<span> {{numero}}</span>

<button (click) = 'SumaYresta(base)' >  + {{base}} </button> -->

